<div class="row">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <h2><%= title %> | <%= action %></h2>
        <button class="btn btn-secondary btn-back">back</button>
    </div>
</div>
<hr />
<div class="create-product content">
    <%- include("../shared/message.ejs") %>
    <%- include("../shared/validationErrors.ejs") %>
    <form id="product-edit-form" class="editForm" action="/products/<%= product._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="_id" value="<%= product._id %>">
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control mb-3" name="name" id="name" value="<%= product.name %>">

                <label for="description" class="form-label">Description</label>
                <textarea class="form-control mb-3" id="description" name="description" rows="3"><%= product.description %></textarea>

                <label for="ean" class="form-label">EAN</label>
                <input type="text" class="form-control mb-3" id="ean" name="ean" value="<%= product.ean %>">

                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control mb-3" name="price" id="price" value="<%= product.price ?? 0 %>">

                <label for="bonusPercent" class="form-label">Bonus percent</label>
                <input type="number" step="5" min="0" max="99" class="form-control mb-3" name="bonusPercent" id="bonusPercent" value="<%= product.bonusPercent ?? 0 %>">
            </div>
            <div class="col-md-6">
                <label for="vat" class="form-label">VAT</label>
                <select class="form-select select-with-tags mb-3" id="vat" name="vat" >
                    <option value="0" <% if (product.vat == 0) { %> selected <% } %>>0%</option>
                    <option value="7" <% if (product.vat == 7) { %> selected <% } %>>7%</option>
                    <option value="23" <% if (product.vat == 23) { %> selected <% } %> >23%</option>
                </select>

                <label for="categories" class="form-label">Categories</label>
                <select class="form-select mb-3" id="categories" name="categories[]" multiple="multiple">
                    <% categories.forEach(category => { %>
                        <option
                            value="<%= category._id %>"
                            <% if (product.categories) { %>
                                <% product.categories.forEach(cat => { %>
                                     <% if (typeof cat === 'object' && cat._id.toString() === category._id.toString()) { %> selected <% } %>
                                <% }) %>
                            <% } %>
                        >
                            <%= category.name %>
                        </option>
                    <% }) %>
                </select>

                <label for="manufacturers" class="form-label">Manufacturers</label>
                <select class="form-select mb-3" id="manufacturer" name="manufacturer">
                    <% manufacturers.forEach(manufacturer => { %>
                        <option
                                value="<%= manufacturer._id %>"
                                <% if (product.manufacturer && product.manufacturer === manufacturer._id.toString()) { %>selected<% } %>
                        >
                            <%= manufacturer.name %>
                        </option>
                    <% }) %>
                </select>

                <label class="form-check-label" for="active">Active</label>
                <input class="form-check-input" type="checkbox" id="active" name="active" <% if (product.active) { %> checked <% } %>>
            </div>
        </div>

        <div class="row col-12">
            <div class="mb-3">
                <label for="photos" class="form-label">Photos</label>
                <input class="form-control" type="file" id="photos" name="photos" multiple>
            </div>
        </div>
        <div class="row col-12">
            <% product.photos.forEach(photo => { %>
                <div class="col-6 col-md-4 mb-2" id="photo-id-<%= photo._id %>">
                    <div class="card">
                        <div class="ratio ratio-4x3">
                            <img src="data:<%= photo.mimeType %>;base64,<%= photo.buffer.toString('base64') %>" class="card-img-top" alt="<%= photo.originalFileName %>">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#photo-details-<%= photo._id %>"
                                    aria-expanded="false"
                                    aria-controls="photo-details-<%= photo._id %>"
                            >
                                Details
                            </button>
                            <button class="btn btn-danger btn-delete-photo"
                                    type="button"
                                    data-photo-id="<%= photo._id %>"
                            >
                                Delete
                            </button>
                        </div>
                        <div class="collapse" id="photo-details-<%= photo._id %>">
                            <div class="card-body photo-details">
                                <p class="card-text">OriginalFileName: <%= photo.originalFileName %></p>
                                <p class="card-text">Description: <%= photo.title %></p>
                                <p class="card-text">Description: <%= photo.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row offset-10 col-2 text-end">
            <div class="row">
                <div class="col-6">
                    <button type="submit" id="btn-send-form" class="btn btn-warning">Update</button>
                </div>
                <div class="col-6">
                    <button type="button" id="btn-clear-form" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>
<link rel="stylesheet" href="/select2/dist/css/select2.css">
<link rel="stylesheet" href="/dropzone/dist/dropzone.css">
<link rel="stylesheet" href="/toastify-js/src/toastify.css">
<script src="/select2/dist/js/select2.full.min.js"></script>
<script src="/dropzone/dist/dropzone-min.js"></script>
<script src="/toastify-js/src/toastify.js"></script>
<script src="/products/js/edit.js"></script>
