<nav>
  <div class="site-title">
    <a href="/"><h1>api</h1></a>
    <p>API</p>
  </div>
  <ul>
    <li><a href="/" class="<%= title === 'Home' ? 'active' : '' %>">Home</a></li>
    <li><a href="/info" class="<%= title === 'Info' ? 'active' : '' %>">Info</a></li>
    <li><a href="/categories" class="<%= title === 'Categories' ? 'active' : '' %>">Categories</a></li>
    <li><a href="/products" class="<%= title === 'Products' ? 'active' : '' %>">Products</a></li>
    <li><a href="/photos" class="<%= title === 'Photos' ? 'active' : '' %>">Photos</a></li>
    <li><a href="/manufacturers" class="<%= title === 'Manufacturers' ? 'active' : '' %>">Manufacturers</a></li>
    <li><a href="/login" class="<%= title === 'Login' ? 'active' : '' %>">Login</a></li>
  </ul>
</nav>