<html lang="en">
    <%- include("../shared/header.ejs") %>
    <body>
        <%- include("../shared/navigation.ejs") %>
        <div class="login content">
            <hr />
            <div class="row">
                <div class="col-md-12">
                <%- include("../shared/message.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <%- include("../shared/validationErrors.ejs") %>
                </div>
            </div>
            <% if (! actionResult.success) { %>
            <div class="row">
                <div class="col-md-12">
                    <form action="/login" method="POST">
                        <label for="login" class="form-label">Login:</label>
                        <input type="text" class="form-control mb-3" name="login" id="login" value="<%= user.login %>">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control mb-3" name="password" id="password" value="<%= user.password %>">
                        <div class="row offset-10 col-2">
                            <button type="submit" id="btnSendLoginForm" class="btn btn-success">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <%- include("../shared/footer.ejs") %>
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>